In [1]:
import pandas as pd
import numpy as np
import pingouin
import statsmodels.api as sm
data = pd.read_excel("DAGs Data.xlsx", index_col = [0])
data.rename(columns={key: str(key).replace("_", " ").title() for key in data}, inplace= True)
data["General Outcome"][data["Environmental Outcome"]==1]=1
data["General Outcome"][data["Health Outcome"]==1]=1
keys = list(data.keys())

C:\Users\kodjo.barnor\Anaconda3\lib\site-packages\pandas\core\series.py:992: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)
C:\Users\kodjo.barnor\Anaconda3\lib\site-packages\pandas\core\series.py:992: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._where(~key, value, inplace=True)

In [2]:
years = keys[-31:]
countries = keys[-82:-31]
data.rename(columns = {year:str(year) for year in years}, inplace = True)
years = [str(year) for year in years]
data

,Article Title,Article Link,General Outcome,"General Outcome (1,0)",Desc General Outcome,Daily Intake,Descr Daily Intake,Health Outcome,Descr Health Outcome,Environmental Outcome,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Potential of terracing to reduce glyphosate an...,https://link.springer.com/article/10.1007%2Fs1...,1,1,Found glyphosate in soil and sediment,NaN,NaN,0,NaN,1,...,0,0,0,0,0,0,0,1,0,0
1,Uptake and persistence of the herbicide glyph...,https://cdnsciencepub.com/doi/abs/10.1139/x89-128,1,1,High glyphosate levels above maximum permissib...,NaN,NaN,0,NaN,1,...,0,0,0,0,0,0,0,0,0,0
2,Residues of glyphosate and its metabolite AMPA...,https://cdnsciencepub.com/doi/pdf/10.4141/cjps...,0,0,Accepted seed residues of less than 5.0 mg kg-...,NaN,NaN,0,NaN,0,...,0,0,0,0,0,0,0,0,0,0
3,Glyphosate pathways to modern diseases VI: Pri...,http://www.amsi.ge/jbpc/11717/25SA16A.pdf,1,1,Health risks associated with the indiscrimina...,NaN,NaN,1,"Health risk, presence of glyphosate in many po...",0,...,0,0,0,0,0,1,0,0,0,0
4,A generational study of glyphosate-tolerant so...,https://doi.org/10.1016/j.fct.2003.08.003,0,0,It was concluded that the transgenic soybean ...,NaN,NaN,0,No negative effect,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,Effect of glyphosate herbicide on acetylcholin...,https://doi.org/10.1016/j.ecoenv.2005.07.017,1,1,The present study reveals that exposure of L. ...,NaN,NaN,0,NaN,1,...,0,0,0,0,0,0,0,0,0,0
499,Comparative cyto- and genotoxicity assessment ...,https://doi.org/10.1016/j.envres.2019.108851,1,1,the GBHs-induced DNA damage observed in the co...,NaN,NaN,1,the GBHs-induced DNA damage observed in the co...,0,...,0,0,0,0,0,0,0,1,0,0
500,Genotoxic effects of glyphosate on Physalaemus...,https://doi.org/10.1016/j.etap.2020.103516,1,1,Glyphosate herbicide can be considered a genot...,NaN,NaN,1,Glyphosate herbicide can be considered a genot...,0,...,0,0,0,0,0,0,0,0,0,1
501,Ecotoxicological risk assessment for the herbi...,https://doi.org/10.1016/j.envpol.2017.10.100,1,1,Potential adverse effect on aquatic invertebrates,NaN,NaN,0,NaN,1,...,0,0,0,0,0,0,1,0,0,0
502,Combined effects of exposure to sub-lethal con...,https://doi.org/10.1007/s10646-020-02233-0,1,1,Adverse effect on crayfish,NaN,NaN,0,NaN,1,...,0,0,0,0,0,0,0,0,1,0

In [3]:
keys =["General Outcome",
       'Num Citations',
       "Impact F Publishing Year",
      "Private Affiliation",
      "University Affiliation",
      "Public Affiliation",
      "North America",
      "South America",
      "Europe",
      "Asia"]
keys = keys
max_cond_vars = len(keys) - 2
data = data[keys].dropna()
data["Impact F Publishing Year"] = data["Impact F Publishing Year"].astype(float)
data.dtypes

General Outcome               int64
Num Citations               float64
Impact F Publishing Year    float64
Private Affiliation           int64
University Affiliation        int64
Public Affiliation            int64
North America                 int64
South America                 int64
Europe                        int64
Asia                          int64
dtype: object

In [4]:
data

,General Outcome,Num Citations,Impact F Publishing Year,Private Affiliation,University Affiliation,Public Affiliation,North America,South America,Europe,Asia
0,1,1.0,2.790,0,1,0,0,1,0,0
3,1,20.0,2.950,1,0,0,1,0,0,0
4,0,108.0,2.662,0,1,0,1,0,0,0
5,1,29.0,1.559,0,0,1,0,0,1,0
6,0,22.0,1.780,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
498,1,256.0,2.335,0,1,0,0,1,0,0
499,1,5.0,5.715,0,1,0,0,0,1,0
500,1,0.0,3.595,0,1,0,0,1,0,0
501,1,42.0,6.125,0,1,0,0,0,1,0
502,1,7.0,2.628,0,1,0,0,0,0,1

In [5]:
data['Private Affiliation'] = data['Private Affiliation'].astype('category')
data['University Affiliation'] = data['Private Affiliation'].astype('category')
data['University Affiliation'] = data['University Affiliation'].astype('category')
data['Public Affiliation'] = data['Public Affiliation'].astype('category')
data['North America'] = data['North America'].astype('category')
data['South America'] = data['South America'].astype('category')
data['Europe'] = data['Europe'].astype('category')
data['Asia'] = data['Asia'].astype('category')

In [6]:
data.dtypes

General Outcome                int64
Num Citations                float64
Impact F Publishing Year     float64
Private Affiliation         category
University Affiliation      category
Public Affiliation          category
North America               category
South America               category
Europe                      category
Asia                        category
dtype: object

In [7]:
residuals = {}
for y_var in data.keys():
    X_vars = list(data.keys())
    X_vars.remove(y_var)
    X = data[X_vars]
    # Initial estimate should include constant
    #   This won't be the case we regress the errors
    X["Constant"] = 1
    # pass y_var as list for consistent structure
    y = data[[y_var]]
    model = sm.OLS(y, X)
    results = model.fit()
    residuals[y_var] = results.resid
residuals = pd.DataFrame(residuals)

In [8]:
residuals.corr()[residuals.corr().abs() < 1].mul(-1).fillna(1).round(2)

,General Outcome,Num Citations,Impact F Publishing Year,Private Affiliation,University Affiliation,Public Affiliation,North America,South America,Europe,Asia
General Outcome,1.00,0.08,0.14,0.27,0.27,-0.13,-0.15,0.01,-0.07,0.03
Num Citations,0.08,1.00,0.09,-0.05,-0.05,0.05,0.06,0.04,0.06,0.01
Impact F Publishing Year,0.14,0.09,1.00,-0.48,-0.48,0.08,0.10,0.05,0.12,0.02
Private Affiliation,0.27,-0.05,-0.48,1.00,1.00,0.17,-0.20,0.09,-0.03,0.28
University Affiliation,0.27,-0.05,-0.48,1.00,1.00,0.17,-0.20,0.09,-0.03,0.28
Public Affiliation,-0.13,0.05,0.08,0.17,0.17,1.00,0.05,0.01,0.01,0.12
North America,-0.15,0.06,0.10,-0.20,-0.20,0.05,1.00,-0.80,-0.80,-0.66
South America,0.01,0.04,0.05,0.09,0.09,0.01,-0.80,1.00,-0.84,-0.71
Europe,-0.07,0.06,0.12,-0.03,-0.03,0.01,-0.80,-0.84,1.00,-0.67
Asia,0.03,0.01,0.02,0.28,0.28,0.12,-0.66,-0.71,-0.67,1.00

In [20]:
undirected_graph = {key:[] for key in data.keys()}
for x in undirected_graph:
    remaining_vars = [y for y in data.keys() if y != x]
    for y in remaining_vars:
        undirected_graph[x].append(y)

undirected_graph

{'General Outcome': ['Num Citations',
  'Impact F Publishing Year',
  'Private Affiliation',
  'University Affiliation',
  'Public Affiliation',
  'North America',
  'South America',
  'Europe',
  'Asia'],
 'Num Citations': ['General Outcome',
  'Impact F Publishing Year',
  'Private Affiliation',
  'University Affiliation',
  'Public Affiliation',
  'North America',
  'South America',
  'Europe',
  'Asia'],
 'Impact F Publishing Year': ['General Outcome',
  'Num Citations',
  'Private Affiliation',
  'University Affiliation',
  'Public Affiliation',
  'North America',
  'South America',
  'Europe',
  'Asia'],
 'Private Affiliation': ['General Outcome',
  'Num Citations',
  'Impact F Publishing Year',
  'University Affiliation',
  'Public Affiliation',
  'North America',
  'South America',
  'Europe',
  'Asia'],
 'University Affiliation': ['General Outcome',
  'Num Citations',
  'Impact F Publishing Year',
  'Private Affiliation',
  'Public Affiliation',
  'North America',
  'South America',
  'Europe',
  'Asia'],
 'Public Affiliation': ['General Outcome',
  'Num Citations',
  'Impact F Publishing Year',
  'Private Affiliation',
  'University Affiliation',
  'North America',
  'South America',
  'Europe',
  'Asia'],
 'North America': ['General Outcome',
  'Num Citations',
  'Impact F Publishing Year',
  'Private Affiliation',
  'University Affiliation',
  'Public Affiliation',
  'South America',
  'Europe',
  'Asia'],
 'South America': ['General Outcome',
  'Num Citations',
  'Impact F Publishing Year',
  'Private Affiliation',
  'University Affiliation',
  'Public Affiliation',
  'North America',
  'Europe',
  'Asia'],
 'Europe': ['General Outcome',
  'Num Citations',
  'Impact F Publishing Year',
  'Private Affiliation',
  'University Affiliation',
  'Public Affiliation',
  'North America',
  'South America',
  'Asia'],
 'Asia': ['General Outcome',
  'Num Citations',
  'Impact F Publishing Year',
  'Private Affiliation',
  'University Affiliation',
  'Public Affiliation',
  'North America',
  'South America',
  'Europe']}

In [24]:
import copy
p_val = .01
def build_skeleton(data, undirected_graph):    
    def check_remaining_controls(control_vars, undirected_graph, x, y, controls_used) :
        c_used = copy.copy(controls_used)
        if y not in undirected_graph[x]:
            for c_var in control_vars:

                c_used.append(c_var)
                test = data.partial_corr(x = x, y = y, covar=c_used,
                                      method = "pearson")
                if test["p-val"].values[0] > p_val: 

                    undirected_graph[x].remove(y)
                    #breakout of the for 
                    break
                else:
                    remaining_controls = copy.copy(control_vars)
                    remaining_controls.remove(c_var)
                    # recursive function that iterates through remaining variables 
                    #  uses them as controls statistical significance holds without them,
                    #  otherwise break
                    check_remaining_controls(remaining_controls, undirected_graph, x, y, c_used)
                
    for x in data.keys():
        ys = undirected_graph[x]
        for y in data.keys():
            if x != y:
            # first check for correlation with no controls
                test = data.partial_corr(x = x, 
                                       y = y, 
                                       covar = None,
                                       method = "pearson") 
                if test["p-val"].values[0] > p_val:
                    undirected_graph[x].remove(y)
            # if correlated check for deseparation controlling for other variables
                else:
                    control_vars = [z for z in df.keys() if z != y and z != x]
                    check_remaining_controls(control_vars, undirected_graph, x, y, [])
    return undirected_graph

undirected_graph = build_skeleton(data, undirected_graph)                                   
undirected_graph

AssertionError: